.wrap__list {
    max-width: 850px;
    width: 100%;
}
.clientList {
    margin: 0 auto;
    margin-top: 140px;
}
.actions {
    width: 55px;
    display: flex;
    justify-content: space-between;
}
.action {
    cursor: pointer;
}


.resp-tab {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    color: black;
}
.resp-tab th, .resp-tab td {
    padding: 10px 20px;
    font-size: 13px;
    border: none;
    font-family: Verdana, sans-serif;   
    border: 1px solid #337AB7;
    vertical-align: top;
}
.resp-tab th {
    background: #337AB7;
    font-weight: bold;
    border: 1px solid #1a4a73;   
    text-transform: uppercase;   
    text-align: center;   
}
.resp-tab tr:nth-child(even) {
    background: #edf7ff;
}
.resp-tab td span {
    background: #337AB7;
    color: black;
    display: none;
    font-size: 11px;
    font-weight: bold;
    font-family: Verdana, sans-serif;   
    text-transform: uppercase;       
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;   
}
@media(max-width: 768px) {
    .resp-tab thead {
        display: none;
    }
    .resp-tab tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .resp-tab td {
        margin: 0 -1px -1px 0;
        padding-top: 35px;
        position: relative;
        width: 50%;
    }
    .resp-tab td span {
        display: block;
    }
}
@media(max-width: 480px) {
    .resp-tab td {
        width: 100%;
    }
}